<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  
</head>
<body>
  <div class="container mt-5">
    <form action="/login" method="POST">
      <div class="form-group">
        <h2>Username</h2>
        <input type="username" id="username" name="username" class="form-control" required>
        <h2>Password</h2>
        <input type="password" id="password" name="password" class="form-control" required>

        <!-- Error message display block -->
        {{#if message}}
          <div class="alert alert-danger mt-3" role="alert">
            {{message}}
          </div>
        {{/if}}

        <p>Don't have an account? <a href="/register">Register Here.</a></p>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</body>
</html>
