<h1>Settings</h1>
<h2>Account</h2>
<button>Delete Account</button><br><br>
<button>Change Username</button><br><br>
<button>Change Email</button><br><br>
<button>Change Password</button><br><br>
<button>Update Profile Picture</button>
