<h1>Account Settings</h1>

<h2>Delete Account</h2>

<form action="/delete-account" method="POST" onsubmit="return confirm('Are you sure you want to delete your account?');">
    <button type="submit">Delete Account</button>
</form>
<br>

<h2>Change Username</h2>

<form action="/change-username" method="POST" onsubmit="return confirm('Are you sure you want to change your username?');">
    <label for="new-username">New Username:</label>
    <input type="text" id="new-username" name="new-username" required><br>
    
    <button type="submit">Change Username</button>
</form>
<br>

<h2>Change Password</h2>

<form action="/change-password" method="POST" onsubmit="return confirm('Are you sure you want to change your password?');">
    <label for="new-password">New Password:</label>
    <input type="password" id="new-password" name="new-password" required><br>
    
    <label for="confirm-new-password">Confirm Password:</label>
    <input type="password" id="confirm-new-password" name="confirm-new-password" required><br>

    <button type="submit">Change Password</button>
</form>
<br>

<h2>Update Profile Picture</h2>
<form action="/update-profile-picture" method="POST">
    <div class="profile-pic-flex">
        <div class="profile-pic-option">
            <img src="/resources/images/pfp_0.jpg" alt="Profile Picture 0" data-index="0" class="profile-pic">
        </div>
        <div class="profile-pic-option">
            <img src="/resources/images/pfp_1.jpg" alt="Profile Picture 1" data-index="1" class="profile-pic">
        </div>
        <div class="profile-pic-option">
            <img src="/resources/images/pfp_2.jpg" alt="Profile Picture 2" data-index="2" class="profile-pic">
        </div>
        <div class="profile-pic-option">
            <img src="/resources/images/pfp_3.jpg" alt="Profile Picture 0" data-index="0" class="profile-pic">
        </div>
        <div class="profile-pic-option">
            <img src="/resources/images/pfp_4.jpg" alt="Profile Picture 1" data-index="1" class="profile-pic">
        </div>
        <div class="profile-pic-option">
            <img src="/resources/images/pfp_5.jpg" alt="Profile Picture 2" data-index="2" class="profile-pic">
        </div>
        <div class="profile-pic-option">
            <img src="/resources/images/pfp_6.jpg" alt="Profile Picture 0" data-index="0" class="profile-pic">
        </div>
        <div class="profile-pic-option">
            <img src="/resources/images/pfp_7.jpg" alt="Profile Picture 1" data-index="1" class="profile-pic">
        </div>
        <div class="profile-pic-option">
            <img src="/resources/images/pfp_8.jpg" alt="Profile Picture 2" data-index="2" class="profile-pic">
        </div>
        <div class="profile-pic-option">
            <img src="/resources/images/pfp_9.jpg" alt="Profile Picture 0" data-index="0" class="profile-pic">
        </div>
        <div class="profile-pic-option">
            <img src="/resources/images/pfp_10.jpg" alt="Profile Picture 1" data-index="1" class="profile-pic">
        </div>
        <div class="profile-pic-option">
            <img src="/resources/images/pfp_11.jpg" alt="Profile Picture 2" data-index="2" class="profile-pic">
        </div>
        <div class="profile-pic-option">
            <img src="/resources/images/pfp_12.jpg" alt="Profile Picture 0" data-index="0" class="profile-pic">
        </div>
        <div class="profile-pic-option">
            <img src="/resources/images/pfp_13.jpg" alt="Profile Picture 1" data-index="1" class="profile-pic">
        </div>
        <div class="profile-pic-option">
            <img src="/resources/images/pfp_14.jpg" alt="Profile Picture 2" data-index="2" class="profile-pic">
        </div>
    </div>
    <input type="hidden" id="selected-profile-pic" name="profileImage">

    <br>

    <button type="submit" id="update-profile-picture">Update Profile Picture</button>
    <button type="submit" formaction="/reset-profile-picture">Reset to Default</button>
</form>

<br><br><br><br><br>

<script>
document.querySelectorAll('.profile-pic').forEach(function(pic) {
    pic.addEventListener('click', function() {
        document.querySelectorAll('.profile-pic').forEach(function(p) {
            p.classList.remove('selected');
        });
        pic.classList.add('selected');
        
        document.getElementById('selected-profile-pic').value = pic.getAttribute('data-index');
    });
});
</script>

<style>
.profile-pic-flex {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.profile-pic-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.profile-pic.selected {
    border: 2px solid #00f;
}
</style>
